@import url(https://fonts.googleapis.com/css?family=Poiret+One);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100);@import url(https://fonts.googleapis.com/css?family=Raleway:300);@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);body, html{background:url('../img/bg.jpeg');background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;color:#FFF;}
h1{font-family:'Poiret One';color:white;}
.header{width:1366px;height:876px;}
.header h1{font-family:'Poiret One';color:#FFF;text-align:center;font-size:50px;font-style:oblique;}
.header hr{width:50%;}
.header h2{font-family:'Raleway';color:#FFF;text-align:center;}
.header .intro{margin-top:100px;}
.header .about{margin-left:20%;line-height:150%;}
.header .about p{font-family:'Raleway';color:white;}
.header .quote-machine{width:850px;height:230px;border:2px groove;background-color:transparent;}
.header .quote-machine p{font-family:'Roboto';text-align:center;}
.header .quote-machine h1{font-family:'Roboto';font-size:20px;color:#FFF;}
.work{background:url('https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a40432a29a1c55fc0b2ec7f1f2271877');background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;height:285px;width:1370px;margin-right:0;}
.work img{height:500px;width:500px;background:transparent;}
.skills{width:865px;height:335px;display:block;margin:0 auto;}
.skills .skillsBox{display:inline-block;text-align:center;margin:0 auto;padding-left:50px;}
.skills span{border:1px solid #fdf9f9;border-radius:3px;margin:5px;padding:4px;}
.socialNets{height:295px;width:1370px;}
.socialNets .icon{position:relative;font-size:80px;list-style:none;text-decoration:none;}
.socialNets nav{margin:1.5em 0 0 0;text-align:center;}
.socialNets nav a{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;border:0;display:inline-block;}
.icon:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:FontAwesome;font-style:normal;font-weight:normal;text-transform:none !important;}
.icon > .label{display:none;}
.socialNets li{display:inline;padding:10px;}