html {
	
}

body {
	background: url("http://i.imgur.com/bIsb4gu.gif"); no-repeat center fixed;
	background-size:cover;
	text-align: center;
}

h1  {
	font-family: 'Shadows Into Light', cursive;

	color: black;
	font-size: 96px;
	
}







h2 a {
	color: white;
}

h2 a:hover {
	text-decoration: none;
	color: red;
}

a {
	color: blue;
	font-size: 50
}

a:hover {
	text-decoration: none;
	color: white;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/overlay.png");
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.container {
	color: white;
}

h2, h3 {
	text-shadow: 0 0 3px #fff;
}

h2, h3, p {
	font-family: 'Roboto', sans-serif;
}

.col-lg-4 p {
	margin
}

footer {
	margin: 10px 0px;

}

footer h2 {
	margin-bottom: 20px;
}

footer a {
	opacity: 0.5;
	transition: opacity 0.15s ease-in-out;

}

footer a:hover {
	opacity: 10;
}

